{{ define "main" }}
  <div class="wrapper">
    <div class="projects">
      <h2>A few things I’ve worked on:</h2>
      
      {{- range $index, $value := sort ( where .Site.RegularPages "Kind" "page" ) "Params.order" -}}
      <p>
        <a href="#project{{ $index }}" data-url="">{{ .Title }}</a>
      </p>
      <div id="project{{ $index }}" class="project" data-year="">
        <p>
          {{- if isset .Params "link" -}}
          {{- $url := urls.Parse .Params.link -}}
          <a href="{{ .Params.link | safeHTML }}" data-url="{{ $url.Host }}">{{ .Title }}</a>
          {{- end -}}
          {{ if isset .Params "description" }} 
          - {{ .Params.description }}
          {{ end }}
        </p>
        <figure class="media-wrapper">
          {{- $pngImages := where (.Resources.ByType "image") "MediaType.SubType" "png" -}}
          {{- $firstPNG := index ($pngImages) 0 -}}
          {{- $mp4s := where (.Resources.ByType "video") "MediaType.SubType" "mp4" -}}
          {{- $firstMP4 := index ($mp4s) 0 -}}
          <video preload="auto" loop="" poster="{{ $firstPNG.Permalink }}">
            <source src="{{ $firstMP4.Permalink }}" type="video/mp4">
          </video>
          {{- if isset .Params "video_caption" -}}
          <figcaption>
            — {{ .Params.video_caption }}
          </figcaption>
          {{- end -}}
          <button type="button" class="restart-video">⇤</button>
        </figure>
        {{- if isset .Params "commissioned" -}}
        <p>
          {{ .Params.commissioned }}
        </p>
        {{- end -}}

        {{- if isset .Params "image_caption" -}}
        {{ $image_caption := string (.Params.image_caption)  }}
        {{ $.Scratch.Set "image_caption" "— " }}
        {{ $.Scratch.Add "image_caption" $image_caption }}
        {{- end -}}

        {{- $jpgImages := where (.Resources.ByType "image") "MediaType.SubType" "jpeg" -}}
        {{- range $jpgImages -}}
        <figure class="media-wrapper">
          <img src='{{ .Permalink }}' width="{{ .Width }}" height="{{ .Height }}" alt='{{ index (split .Name ".") 0 | humanize}}'>
          <figcaption>
            {{ $.Scratch.Get "image_caption" }}
          </figcaption>
        </figure>
        {{- end -}}
      </div>
      {{- end -}}


    </div>
    <h2>Elsewhere on the internet:</h2>
    <p>
      Here's my <a href="https://github.com/tuffstudio" data-url="github.com/tuffstudio">Github</a>,
      I also share some thoughts on <a href="http://twitter.com/tuffstudio" data-url="twitter.com/tuffstudio">Twitter</a>.
    </p>
  </div>
{{ end }}
